.footer {
  background-color: var(--primary-color);
  color: #fff;
  padding: 2rem 1rem;
  border-top: 1px solid var(--highlight-color);
}

.footer-content {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
  align-items: center;
}

.footer-logo, .footer-links, .footer-contact {
  margin: 1rem;
}

.footer-logo img {
  height: 160px;
  width: auto;
}

.footer h4 {
  font-family: var(--font-family-primary);
  color: var(--secondary-color);
  margin-bottom: 1rem;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li a {
  color: #fff;
  transition: color 0.3s ease;
}

.footer ul li a:hover {
  color: var(--secondary-color);
  text-decoration: none;
}

.footer-contact p {
  margin: 0.5rem 0;
  line-height: 1.6;
}

.footer-contact a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-contact a:hover {
  color: var(--secondary-color);
}

.footer-bottom {
  text-align: center;
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid #005a53; /* Slightly lighter shade of primary for the border */
}
